<div class="container">
    <mat-toolbar color="primary">
        <span>Twitter</span>
        <button mat-raised-button(click)="homeBtn()" >Back</button>

    </mat-toolbar>

</div>
<div class="left-section">
    <img src="../../../assets/chevron-left.svg" alt="chevron left icon">
    <p>TODO LIST</p>
</div> 
<div class="right-section">
    <img src="../../../assets/cl" alt="clock icon">
    <img src="../../../assets/edit-2.svg" alt="edit icon">
    <img src="../../../assets/trash-2.svg" alt="trash icon">
</div>
</div>