<div class="profile-container">

    <img src="../../../assets/profile_image.png" alt="profile image">

    <div class="profile-info-section">
        <div class="info-strip">
            <p class="header">Full Name</p>
            <p class="detail">Shree Vidya Sreyas</p>
            </div>
            <div class="profile-info-section">
                <div class="info-strip">
                    <p class="header">Bio</p>
                    <p class="detail">Science Graduate from R.I.E Mysore</p>
                    </div>
                    <div class="profile-info-section">
                        <div class="info-strip">
                            <p class="header">Number of Followers</p>
                            <p class="detail">150</p>
                            </div>

                        </div>





    </div>
   